body,
html {
  height: 100%;
  margin: 0;
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  font-size: 18px;
}
@media (max-width: 980px) {
  body,
  html {
    font-size: 14px;
  }
}
h1,
h2 {
  font-weight: 400;
}
h1 {
  font-size: 3em;
}
h2 {
  font-size: 1.5em;
  padding: 0 0.3em;
}
h3 {
  font-size: 1.3em;
  margin: 0;
}
section {
  margin: auto;
  max-width: 1200px;
  text-align: center;
}
.phone-only {
  display: none;
}
@media (max-width: 460px) {
  .phone-only {
    display: block !important;
  }
}
.clear-both {
  clear: both;
  padding-top: 2em;
}
.title {
  color: #61dafb;
  background: #222;
  text-align: center;
  margin-top: 0;
}
.title h2 {
  padding-bottom: 2em;
  margin: 0;
  line-height: 1.5;
}
@media (max-width: 460px) {
  .title h2 {
    font-size: 1em;
  }
}
.title h1 {
  margin: 0;
  padding: 1em 0.5em;
  vertical-align: middle;
}
@media (max-width: 460px) {
  .title h1 {
    padding: 0.5em 0 0 0;
  }
}
.title h1 img {
  vertical-align: middle;
  height: 2em;
}
.title h1 a {
  color: inherit;
  text-decoration: none;
}
@media (max-width: 460px) {
  .title h1 em {
    font-size: 0.7em;
    position: relative;
    top: -0.5em;
  }
}
.alerts-form {
  background: LightGray;
  text-align: center;
  padding: 1.5em 15px 2em;
}
.alerts-form a {
  color: Black;
}
.alerts-form h3 {
  margin-bottom: 0.4em;
}
.alerts-form label,
.alerts-form input {
  display: block;
  min-width: 270px;
  margin: 0 10px;
}
@media (max-width: 460px) {
  .alerts-form label,
  .alerts-form input {
    margin: 0;
  }
}
.alerts-form label {
  font-weight: bold;
  margin-top: 1em;
}
.alerts-form input {
  border: 0;
  border-bottom: 2px solid Black;
  height: 2em;
  font-size: 1.2em;
}
.form-group {
  display: inline-block;
  text-align: left;
  padding: 0 3px;
}
.form-button,
.button {
  appearance: none;
  border: 0;
  padding: 10px 20px;
  background: #61dafb;
  color: #222;
  text-decoration: none;
  font-size: 1em;
  font-weight: bold;
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-bottom: 2px solid Black;
  cursor: pointer;
}
.form-button:hover,
.button:hover {
  color: inherit;
  background: #007acc;
}
.form-button {
  padding: 0;
  margin: 0 10px;
  height: 2.5em;
  width: 100%;
  position: relative;
  top: -2px;
}
@media (max-width: 460px) {
  .form-button {
    margin: 0;
  }
}
.company {
  float: left;
  width: 22%;
  margin: 1em 1.5%;
  text-decoration: none;
}
.company h1 {
  margin-bottom: 0.5em;
}
.company a {
  cursor: pointer;
}
.company a:hover {
  color: inherit;
  background: #007acc;
}
.company .nav-links a:hover {
  background: none;
}
.company span {
  display: inline-block;
  margin-top: 0.5em;
  color: #222;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.company img {
  width: 80%;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.company:hover img {
  -webkit-filter: grayscale(0);
  -moz-filter: grayscale(0);
  filter: grayscale(0);
}
.company:hover span {
  color: #61dafb;
}
@media (max-width: 980px) {
  .company {
    width: 30%;
  }
}
@media (max-width: 460px) {
  .company {
    width: 47%;
  }
}
.company.stand-alone {
  float: none;
  display: block;
  margin: auto;
  width: 100%;
}
.company.stand-alone img {
  width: 100%;
  max-width: 212px;
  -webkit-filter: grayscale(0);
  -moz-filter: grayscale(0);
  filter: grayscale(0);
}
.company.stand-alone .button {
  display: inline-block;
  margin-top: 0.5em;
}
#addcompany {
  clear: both;
  text-align: center;
  padding: 3em 2em 8em 2em;
  min-height: 70%;
  background: #222;
  color: White;
}
#addcompany a {
  color: #61dafb;
  font-weight: bold;
  text-decoration: none;
  border-bottom: 2px solid #61dafb;
}
#addcompany h2 {
  font-size: 2em;
}
