.title
  h1
    a(href="http://react.careers")
      img(src="/react-logo.png" alt="React.js")
      br.phone-only
      | React
      br.phone-only
      em .careers
  
  h2
    | The open source directory of companies using React.js.
    br
    | Find jobs at companies who are using your favorite JS framework!
