.title
  h1
    img(src="/react-logo.png" alt="React.js")
    br.phone-only
    | React
    br.phone-only
    em .careers
  
  h2 
    | The open source directory of companies using React.js.
    br
    | Find jobs at companies who are using your favorite framework!
        
form.alerts-form(action="//gymnosbody.us8.list-manage.com/subscribe/post?u=8736a6f17f9edb63fd39a1524&amp;id=a025c3ad68" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate)
  h3
    | Get React.js job alerts via email or twitter: 
    a(href="https://twitter.com/reactcareers" target="_blank") @reactcareers
  
  div(style="position: absolute; left: -5000px; height: 0;")
    input(type="text" name="b_8736a6f17f9edb63fd39a1524_a025c3ad68" tabindex="-1" value="")

  .form-group
    label(for="mce-EMAIL") Email Address*
    input(type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="your@email.com")

  .form-group
    label(for="mce-LOCATION") Location
    input(type="text" value="" name="LOCATION" class="" id="mce-LOCATION" placeholder="e.g. World, London, USA, ...")
  
  .form-group
    label &nbsp;
    button(type="submit" name="subscribe" class="form-button") Alert me
  
.clear-both
