// breakpoints
iphone     = "(max-width:320px)"
phone      = "(max-width:460px)"
phablet    = "(max-width:768px)"
tablet     = "(max-width:980px)"
typeheight = "(max-height:375px)"


// colors
blue  = #61DAFB
gray  = #222222


// general
body, html
  margin 0
  font-family 'Raleway', Helvetica, Arial, sans-serif
  text-align center
  font-size 18px
  @media tablet
    font-size 14px

h1, h2
  font-weight 400

h1
  font-size 3em

h2
  font-size 2em
  padding 0 0.3em

section
  margin auto
  max-width 1200px


// responsive
.phone-only
  display none
  @media phone
    display block !important

.clear-both
  clear both
  padding-top 2em


// components
.title
  color blue
  background gray
  margin-top 0
  padding 1em 0.5em 0.5em
  vertical-align middle
  img
    vertical-align middle
    height 2em
  @media phone
    em
      font-size .7em
      position relative
      top -0.5em
      
.button
  padding 10px 20px
  background blue
  color White
  text-decoration none
  font-weight bold
  border-radius 5px

.company
  float left
  width 22%
  margin 1em 1.5%
  text-decoration none
  span
    display inline-block
    margin-top 0.5em
    color gray
    -webkit-transition all 0.3s
    -moz-transition all 0.3s
    transition all 0.3s
  img
    width 100%
    -webkit-filter grayscale(100%)
    -moz-filter grayscale(100%)
    filter grayscale(100%)
    -webkit-transition all 0.3s
    -moz-transition all 0.3s
    transition all 0.3s
  &:hover
    img
      -webkit-filter grayscale(0)
      -moz-filter grayscale(0)
      filter grayscale(0)
    span
      color blue
  @media tablet
    width 30%
  @media phone
    width 47%

#addcompany
  clear both
  padding 2em 2em 8em 2em
  background gray
  color White
  a
    color blue
    font-weight bold
    text-decoration none
    border-bottom 2px solid blue
