doctype
html(lang="en", itemtype="http://schema.org/WebPage" itemscope)
  
  head(prefix="og: http://ogp.me/ns#")
    include _meta.jade
    include _css.jade
  
  body
    
    h1.title
      img(src="/react-logo.png" alt="React.js")
      br.phone-only
      | React
      br.phone-only
      em .careers


    section
      h2 Find jobs where you can work with your favourite framework React.js


    section
      h1 Companies using React.js
      
      a.button.red(href="#addcompany") Add a company
      
      .clear-both
      each data, title in companies
        a.company(href=data.url target="_blank")
          img(src=data.logo alt=title)
          span
            | Search for React.js jobs at
            br
            = title
      .clear-both


    #addcompany
      h2 Add a company
      | Email company name, 500x500px logo, and careers url to 
      a(href="mailto:admin@react.careers") admin@react.careers
      br
      br
      em or
      br
      br
      | Create a pull request on 
      a(href="https://github.com/stefanRitter/react.careers") github


    include _scripts.jade
