- var url         = "http://react.careers"
- var title       = "React.careers - Open source directory of companies using React.js"
- var description = "The ultimate directory of companies using React.js - Find jobs at companies who are using your favorite framework: React.js"

doctype
html(lang="en", itemtype="http://schema.org/WebPage" itemscope)
  
  head(prefix="og: http://ogp.me/ns#")
    include shared/_meta.jade
  
  body
    include shared/_title.jade
    include shared/_alerts.jade
    
    .clear-both

    section
      h1 Companies using React.js
      
      a.button(href="#addcompany") Add a company
      
      .clear-both
      each data, title in companies
        - var href="/companies/"+title.toLowerCase().replace(/ /g,"-")+".html"
        a.company(href=href)
          img(src=data.logo alt=title)
          span
            | Search for React.js jobs at
            br
            = title
      .clear-both

    footer#addcompany
      h2 Add a company
      | Email company name, 500x500px logo, and careers url to 
      a(href="mailto:admin@react.careers") admin@react.careers
      p(style="margin-top:3em;")
        em
          | Built by
          a(href="http://stefanritter.com/") Stefan Ritter
    
    include shared/_scripts.jade
