doctype
html(lang="en", itemtype="http://schema.org/WebPage" itemscope)
  head(prefix="og: http://ogp.me/ns#")
    include _meta.jade
    include _css.jade
  body
    | coming soon
    
    include _scripts.jade
